# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# Django
*.log
db.sqlite3
staticfiles/
media/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Python environment
.env

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak

# Large backup/archive files
*.zip